[submodule "207-SpriteKit"]
	path = 207-Sprite-Kit
	url = https://github.com/rwenderlich/dropcharge
[submodule "308-CollectionViewCustomLayouts"]
	path = 308-Collection-View-Custom-Layouts
	url = https://github.com/micpringle/Schedule
[submodule "201-Swift-Language-Basics"]
	path = 201-Swift-Language-Basics
	url = https://github.com/mattjgalloway/RWDevCon-Swift-Language-Basics
[submodule "103-Auto-Layout"]
	path = 103-Auto-Layout
	url = https://github.com/gregheo/RWDevCon-AutoLayout
[submodule "206-Dynamic-Custom-Controls"]
	path = 206-Dynamic-Custom-Controls
	url = https://github.com/ricardo-rendoncepeda/SuitUp
[submodule "306-Animating-Auto-Layout-Constraints"]
	path = 306-Animating-Auto-Layout-Constraints
	url = https://github.com/icanzilb/Languages
[submodule "301-App-Architecture"]
	path = 301-App-Architecture
	url = https://github.com/hollance/RWDevCon-App-Architecture
[submodule "302-Advanced-Debugging"]
	path = 302-Advanced-Debugging
	url = https://github.com/jrturton/Seuss
[submodule "204-Swift-Functional-Programming"]
	path = 204-Swift-Functional-Programming
	url = https://github.com/algal/RWDevCon-FPStyle-stages
[submodule "102-iOS-Apprentice-Review-2"]
	path = 102-iOS-Apprentice-Review-Part-2
	url = https://github.com/VegetarianZombie/102-iOS-Apprentice-Review-2
[submodule "208-Scene-Kit"]
	path = 208-Scene-Kit
	url = https://github.com/devindazzle/SceneKitFrogger
[submodule "104-Adaptive-Layout"]
	path = 104-Adaptive-Layout
	url = https://github.com/sammyd/RWDevCon-AdaptiveLayout
[submodule "205-Core-Graphics"]
	path = 205-Core-Graphics
	url = https://github.com/fattjake/CGTutorial
[submodule "105-App-Extensions"]
	path = 105-App-Extensions
	url = https://github.com/cwagdev/RWDevCon-Countdown 
[submodule "304-Unit-Testing-in-Practice"]
	path = 304-Unit-Testing-in-Practice
	url = https://github.com/designatednerd/FlickrSearcher
[submodule "101-iOS-Apprentice-Review-Part-1"]
	path = 101-iOS-Apprentice-Review-Part-1
	url = https://github.com/Paradox927/rwdevcon-ios-apprentice-review-1.git
[submodule "202-Swift-Closures-Generics"]
	path = 202-Swift-Closures-Generics
	url = https://github.com/hollance/RWDevCon-Swift-Closures-Generics
[submodule "108-Parse"]
	path = 108-Parse
	url = https://github.com/gfosco/RWDevCon2015-108-Parse
[submodule "203-Swift-and-Cocoa"]
	path = 203-Swift-and-Cocoa
	url = https://github.com/mattjgalloway/RWDevCon-Swift-and-Cocoa
[submodule "107-WatchKit-Part-2"]
	path = 107-WatchKit-Part-2
	url = https://github.com/micpringle/107-WatchKit-Part-2
[submodule "307-CoreData-Multithreading"]
	path = 307-CoreData-Multithreading
	url = https://github.com/casademora/RWDevCon-CourseCatalog
[submodule "106-WatchKit-Part-1"]
	path = 106-WatchKit-Part-1
	url = https://github.com/gregheo/RWDevCon-WatchKit-1
[submodule "305-Animating-View-Controller-Transitions"]
	path = 305-Animating-View-Controller-Transitions
	url = https://github.com/rnystrom/RWDevCon-View-Controller-Transitions
[submodule "Inspiration/Impossible"]
	path = Inspiration/Possibility
	url = https://github.com/Paradox927/rwdevcon-inspiration-impossible.git
[submodule "Inspiration/Teamwork"]
	path = Inspiration/Teamwork
	url = https://github.com/rwenderlich/inspiration-teamwork
[submodule "Inspiration/Devsign"]
	path = Inspiration/Devsign
	url = https://github.com/ricardo-rendoncepeda/devsign
[submodule "Inspiration/raywenderlich.com folklore"]
	path = Inspiration/raywenderlich.com folklore
	url = https://github.com/icanzilb/raywenderlichcomfolklore
[submodule "Inspiration/Math"]
	path = Inspiration/Math
	url = https://github.com/hollance/RWDevCon-Inspiration-Talk
[submodule "Inspiration/Finishing"]
	path = Inspiration/Finishing
	url = https://github.com/devindazzle/Finishing
[submodule "303-AayncDisplayKit"]
	path = 303-AsyncDisplayKit
	url = https://github.com/RCacheaux/wonders
[submodule "Inspiration/Craftmanship"]
	path = Inspiration/Craftmanship
	url = https://github.com/cwagdev/RWDevCon-Inspiration-Craftsmanship
[submodule "Inspiration/Identity II"]
	path = Inspiration/Identity II
	url = https://github.com/algal/inspiration-talk-RWDevCon
[submodule "Inspiration/Starting Over"]
	path = Inspiration/Starting Over
	url = https://github.com/designatednerd/StartingOverTalk
[submodule "Inspiration/Opportunity"]
	path = Inspiration/Opportunity
	url = https://github.com/fattjake/inspirationTalk
[submodule "Inspiration/Identity I"]
	path = Inspiration/Identity I
	url = https://github.com/rwenderlich/inspiration-identity
