[submodule "207-SpriteKit"]
	path = 207-SpriteKit
	url = https://github.com/rwenderlich/dropcharge
[submodule "308-CollectionViewCustomLayouts"]
	path = 308-CollectionViewCustomLayouts
	url = https://github.com/micpringle/Schedule
[submodule "201-Swift-Language-Basics"]
	path = 201-Swift-Language-Basics
	url = https://github.com/mattjgalloway/RWDevCon-Swift-Language-Basics
